<html>


<h1> Welcome to the Game! </h1>

<h2> You probably don't know the rules...</h2>

<body>
<img src="https://1millionmonkeystyping.files.wordpress.com/2015/08/rock-paper4.jpg">

Just kidding. Rock beats Scissors, Scissors beats Paper, Paper beats Rock.
</body>

</html>
